<!DOCTYPE html>
<html lang="en">
<body>
    <form action="/result" method="POST">
        <p> Name <input type='text' name='Name'></p>
        <p> Student Number <input type='text' id='StudentNumber' name='StudentNumber' /></p>
        <p> Major <input type='text' id='Major' name='Major' /></p>
        <p>Programming Languages</p>
        <label><input type="checkbox" name="language[]" value="Python"> Python</label>
        <label><input type="checkbox" name="language[]" value="Java"> Java</label>
        <label><input type="checkbox" name="language[]" value="HTML"> HTML</label>
        <label><input type="checkbox" name="language[]" value="C++"> C++</label>
        <button type='submit' name='submit' value='submit'>submit</button>
    </form>
</body>
</html>
